$btn:(
    margin: 10px,
    border: 2px solid $colorPrimario,
    border-radius: 5px
);

$coloresBoton:(
    Primario:green,
    Secundario:white,
);

$textoBoton:(
    Primario:white,
    Secundario:green,
);

@mixin propiedades($color, $padding) {
    color:$color;
    padding: $padding;
}

@each $key, $var in $coloresBoton{

    .btn#{$key}{
        @extend .btnForm;
        background-color: $var;
        /* cambio el color del boton solo para la entrega en realidad las letras van a ser verdes y blancas*/
        @include propiedades(blue,5px)
    }    
}
/*
@each $key, $var in $textoBoton{

    .btn#{$key}{
        @extend .btnForm;
        color: $var;
    }    
}
*/
