

.techoHacha{
    display: none;
}

.techoB{
    display: none;
}

.techoTitulos{
    font-family: "Tiro Devabagari Sanskrit";
    font-size: 50px;
    color: green;
    -webkit-text-stroke: 2px black;
}
.techoTitulos2{
    font-family: "Tiro Devabagari Sanskrit";
    font-size: 20px;
    color: green;
    -webkit-text-stroke: 2px black;
}
.navbar{
    background-color: green;
}


@media(min-width:1000px){

    .techoHacha{
        display: unset;
        padding: 5px;
    }
    
    .techoB{
        display: unset;
    }
    .escudo{
        padding: 5px;
    }
}